.section111 {
    margin-bottom: 20px;
  }
  

  
 .section111 table {
    width: 100%;
    border-collapse: collapse;
  }
  
.section111  th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
.section111  th {
    background-color: #f4f4f4;
    text-align: left;
  }
  
 .section111 td {
    background-color: #fff;
  }
  