.userpanel-container {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
    color: #000000;
}

.sidebar {
    width: 250px;
    background-color: #333;
    color: #e6e0e0;
    padding: 20px;
    /* position: relative; */
    box-sizing: border-box;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    margin: 10px 0;
    background-color: #120c0c;
    text-align: center;
    cursor: pointer;
}

.sidebar ul li:hover {
    background-color: #dedada;
    color: #120c0c;
}

.content {
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
}

.content h1 {
    margin-bottom: 20px;
}

.section {
    margin-bottom: 20px;
}

.section h2 {
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #e8e0e0;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

ul {
    padding: 0;
    list-style: none;
}

ul li {
    margin-bottom: 10px;
}