/* AutoCarousel.css */

.carousel-container {
    margin-top: 20px;
    width: 100%;
    max-width: 1000px;
    margin: auto;
  }
  
  .custom-carousel .carousel-item img {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease-in-out;
  }
  
  .custom-carousel .carousel-item img:hover {
    transform: scale(1.05);
  }
  
  .custom-carousel .carousel-caption {
    background-color: rgba(0, 0, 0, 0.6);
    background-color: transparent;
    border-radius: 10px;
    padding: 10px;
  }
  
  .custom-carousel .carousel-caption h3 {
    color: #fff;
    font-size: 1.5rem;
    animation: fadeInDown 1s ease-in-out;
  }
  
  .custom-carousel .carousel-caption p {
    color: #fff;
    font-size: 1rem;
    animation: fadeInUp 1s ease-in-out;
  }
  
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}
  @media (max-width: 768px) {
    .custom-carousel .carousel-caption h3 {
      font-size: 1.2rem;
    }
  
    .custom-carousel .carousel-caption p {
      font-size: 0.9rem;
    }
  }
  