/* Home.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.home {
  text-align: center;
  padding: 20px;
  background: linear-gradient(to bottom right, #1e90ff, #ff6347);
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-section {
  margin-top: 20px;
}

.wel {
  font-size: 2.5rem;
  margin-bottom: 10px;
  animation: fadeInDown 1s ease-in-out;
}

.hel {
  font-size: 1.5rem;
  margin-top: 0;
  animation: fadeInUp 1s ease-in-out;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .wel {
    font-size: 2rem;
  }

  .hel {
    font-size: 1.2rem;
  }
}
